<article class="example" id="uk">
  <div class="search container">
    <form class="search-form" id="search-form">
      <div class="search-wrap">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search images..."
        />
        <button type="sumbit">
          <span class="material-icon">search</span>
        </button>
      </div>
    </form>
    <div class="gallery-container">
      <div class="gallery">
        <button type="button" class="btn-load-more is-hidden">Load more</button>
        <!-- кнопка load more -->
        <a class="btn-to-top" title="Return to top">
          <span class="material-icons">arrow_upward</span></a
        >
      </div>
    </div>
  </div>
</article>
